/*                                                  RESET/GENERAL SETTINGS */
input[type="number"] {
  -webkit-appearance: textfield !important;
  margin: 0;
  -moz-appearance: textfield !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  background-image: url(../imgs/estilos.webp);
  background-size: 75vh;
}
h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 2%;
  margin-bottom: 0px;
  background-color: #12664f;
}
img {
  max-width: 100%;
}

ul {
  list-style: none;
}

h2 {
  margin: 0 0 15px 0;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

html {
  scroll-behavior: smooth;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4%;
  padding: 4% 0% 2% 0%;
}
.tarjetas h2 {
  font-size: 1.6rem;
  text-align: start;
}

.card:hover {
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1.13);
}

.totop__icon {
  position: fixed;
  right: 4px;
  bottom: 8px;
  width: 50px;
  opacity: 70%;
}
.totop__icon:hover {
  opacity: 100%;
}
.form {
  line-height: 2.2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.contact {
  padding: 2% 0% 3% 0%;
}

input {
  border-radius: 2rem;
  border: none;
  font-family: "Quicksand";
  margin: 0.4;
  color: white;
  text-align: center;
  border-color: #515355;
  background-color: #444649;
}

button {
  border-radius: 2rem;
  border: none;
  font-family: "Quicksand";
  margin-top: 0.4rem;
  color: white;
  text-align: center;
  border-color: #515355;
  background-color: #444649;
}

.cantidad {
  padding: 1.5%;
  width: 100%;
  margin: auto;
  margin-bottom: 13px;
  display: flex;
}
.button:hover {
  opacity: 0.85;
  transition-duration: 700ms;
  transform: scale(1);
}

.modify:hover {
  opacity: 0.85;
  transition-duration: 700ms;
  transform: scale(1);
}

.color--state-black {
  background-color: #12664f;
}

.color--state-ok {
  background-color: #2b8b34;
}

.color--state-bad {
  background-color: #984447;
}

.color--green {
  background-color: #12664f;
}

#carritoindex {
  padding-top: 0.5%;
}

#carritoirish,
#carritoipa,
#carritostout,
#carritogolden,
#carritoindex,
#totalcarrito {
  background-color: white;
  padding-bottom: 1%;
}
.carrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carrito h3,
.carrito h4,
.carrito h5,
.carrito p {
  width: 13vw;
  margin: auto;
  text-align: center;
}
.carrito input {
  width: 15%;
  padding: 0.5%;
  margin: auto;
}

.carrito img {
  width: 10vw;
  margin: auto;
  margin-bottom: 1%;
  border-radius: 10%;
}
#carros {
  background-color: white;
}

#totalcarrito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pagar {
  width: 14vw;
  border-radius: 2vh;
  height: 7vh;
  padding: 2%;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.downform {
  width: 34vw;
  display: flex;
  flex: row;
  justify-content: space-between;
}

.downform input {
  width: 55%;
  padding: 2%;
}
.downform button {
  width: 30%;
  padding: 2%;
}

.checkout button {
  width: 4vw;
  height: 4vw;
  border-radius: 23%;
}

.finishorder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: white;
}

.acordiones {
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
}

.forms input {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 60vw;
  height: 5vh;
  background-color: #476c9b;
}
.forms input::placeholder {
  color: white;
}

.forms input[type="submit"] {
  background-color: #2b8b34;
  width: 80vw;
  margin: auto;
  border-radius: 1.2vh;
}
#form input {
  display: inline-block;
  width: 25vw;
  height: 5vh;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 30px;
  padding: 1.8%;
  flex-wrap: wrap;
  background-color: #476c9b;
}
.forms select {
  font-family: "Quicksand";
  background-color: #476c9b;
  border-radius: 0.4rem;
  border: none;
  color: white;
  text-align: center;
  width: 70vw;
  height: 7vh;
  font-size: 0.68rem;
}

.forms {
  margin-bottom: 5vh;
}
.forms input[type="text"],
.forms input[type="number"] {
  width: 70vw;
  height: 6vh;
  font-size: 1.25rem;
  margin-left: -2vh;
}
.forms input[type="text"]::placeholder,
.forms input[type="number"]::placeholder {
  font-size: 0.6rem;
}
.forms input[type="submit"] {
  background-color: #2b8b34;
  width: 40vw;
  height: 7vh;
  padding: 0%;
  margin-top: 3vh;
  margin-left: 4vh;
  font-size: 1.25rem;
  border-radius: 1.2vh;
}

input {
  color: white;
}

input::placeholder {
  color: white;
}

.mercadopago {
  width: 13vw;
  margin-left: 25vw;
}

.pagarfinal {
  width: 40vw;
  border-radius: 2vh;
  height: 8vh;
  margin-left: 10vw;
  margin-top: 6vw;
  margin-bottom: 2vw;
  font-size: 1.8rem;
  background-color: rgb(158, 22, 29);
}

.header {
  background-color: #12664f;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__logo {
  width: 50vw;
}
.agradecimiento {
  text-align: center;
  color: white;
  margin: auto;
  font-size: 2rem;
}

#pagar {
  background-color: #2b8b34;
}

@media screen and (min-width: 768px) {
  .agradecimiento {
    margin-top: 1.5vw;
    font-size: 2.8rem;
  }
  .forms input[type="submit"] {
    width: 12vw;
    padding: 0%;
    margin-left: 10vw;
  }

  .forms input {
    display: inline-block;
    width: 28vw;
    height: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 20px;
    padding: 1.8%;
    background-color: #476c9b;
  }
  .forms input::placeholder {
    color: white;
  }

  .forms select {
    font-family: "Quicksand";
    background-color: #476c9b;
    border-radius: 0.4rem;
    border: none;
    color: white;
    text-align: center;
    width: 25vw;
    margin-left: 10vh;
    height: 6vh;
    font-size: 0.9rem;
  }
  .pagarfinal {
    width: 10vw;
    border-radius: 2vh;
    height: 7vh;
    margin-top: 50px;
    margin-left: 85%;
    font-size: 1.8rem;
  }
  .header__logo {
    width: 10vw;
  }
  .forms {
    margin-bottom: 5vh;
  }
  .forms input[type="text"],
  .forms input[type="number"] {
    width: 19vw;
    height: 6vh;
    font-size: 1.25rem;
    margin-left: 2vh;
  }
  .forms input[type="text"]::placeholder,
  .forms input[type="number"]::placeholder {
    font-size: 0.85rem;
  }
  .forms input[type="submit"] {
    background-color: #2b8b34;
    width: 9vw;
    height: 6vh;
    padding: 0%;
    margin-left: 2vh;
    font-size: 1.25rem;
    border-radius: 1.2vh;
  }
  #totalcarrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
